.landingPage {
    overflow: hidden;
    position: relative;

    @media (min-width: 992px) {

    }

    &_image {
        width: 100%;
        height: 600px;
        position: relative;

        @media (max-width: 992px) {
            height: 400px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);

            @media (max-width: 992px) {
                width: 70%;
                height: 100%;
                background: transparent;
            }
            
        }

        & img {
            min-width: 100%;
            height: 100%;
        }
    }

    &_container {
        position: absolute;
        top: 15%;
        left: 10%;
        width: 500px;
        color: #000;

        @media (max-width: 992px) {
            position: relative;
            padding: 20px 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        & h2 {
            font-size: 60px;  
            font-weight: 800;

            @media (max-width: 992px) {
                font-size: 50px;  
            }
        }

        & p {
            padding: 20px 0;
            line-height: 1.5;

            @media (max-width: 992px) {
                font-size: 25px;  
            }
        }

        & button {
            border: none;
            padding: 20px;
            background-color: #F94F4F;
            border: 1px solid #F94F4F;
            color: #FFF;
            cursor: pointer;
            transition: all .3s ease-in-out;
            font-weight: 600;
            font-size: 14px;
            font-weight: 700;

            &:hover {
                background-color: #FFF;
                color: #F94F4F;
            }
        }
    }
}
