.brand {
    position: relative;
    height: 600px;
    // background-color: #f94f4f;
    
    // &::after {
    //     background-color: #f94f4f;
    //     content: '';
    //     position: absolute;
    //     top: -20%;
    //     right: 0;
    //     width: 60%;
    //     height: 140%;
    //     z-index: -1;
    // }
    
    &_container {
        display: flex;
        z-index: 100;
    }
    
    &_left {
        width: 40%;
        padding-left: 50px;
        padding-top: 120px;

        @media (min-width: 992px) { 
            width: 100%;
        }

        & h2 {
            width: 400px;
            font-weight: 800;
            font-size: 40px;
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 600px;
        position: relative;
        background-color: #f94f4f;

        @media (min-width: 992px) { 
            width: 100%;
        }

        & > div {
            padding: 40px 20px;
            color: #000;
            z-index: 20px;

            & h3{
                color: #fff;
            }

            & p {
                padding-top: 20px;
                color: #eee;
                font-size: 15px;
                line-height: 1.5;
                width: 440px;
            }
        }
        
    }
}