.footer {
    padding: 50px 0;

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & h2 {
            font-weight: 800;
            font-size: 40px;
            width: 550px;
        }

        & button {
            border: none;
            padding: 20px;
            background-color: #F94F4F;
            color: #FFF;
            cursor: pointer;
            transition: all .3s ease-in-out;
            font-weight: 600;
            font-size: 14px;
            font-weight: 700;
            border: 1px solid #F94F4F;

            &:hover {
                background-color: #FFF;
                color: #F94F4F;
            }
        }
        
    }
}

@media (max-width: 992px) {
    .footer {
        padding: 20px 0;
    
        &_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            & h2 {
                font-weight: 800;
                font-size: 40px;
                width: 400px;
                text-align: center;
                padding-bottom: 20px;
            }
        }
    }
}